.main-container {
  min-height: 700px;
}

.headline {
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
}

.food-image {
  width: 850px;
  height: 450px;
}

.details {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

.sub-details {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}
